
body {
    background-color: DarkSlateGray;
    color: white;
}
div {
    background-color: DarkSalmon;
    color: MidnightBlue;
    font-family: serif;
    padding: 20px;
    border-color: darkslategrey;
}
section {
    color: mediumseagreen;
    font-size: 50px;
}
#score {
    background-color: mediumseagreen;
}
#ruleTwo {
    background-color: #ff4dd2;
}
#ruleFour {
    background-color: #ff4dd2;
}
.solid {
    border-style: solid;
    border-width: 10px;
    border-color: darkslategrey;
}
.special {
    padding: 2px;
}